$first-color: #394a51;
$second-color: #7fa99b;
$third-color: #fbf2d5;
$fourth-color: #fdc57b;

.cellContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  & .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    &.active {
      opacity: 0.9;
      background-color: green;
      border: 1px solid $first-color;
    }
    &.targetCell {
      z-index: 5;
      border: 0.4rem dashed red;
    }
    &.selectedCell {
      background-color: black;
    }
  }
  & p.cellCode {
    z-index: 5;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
  }
  & .checker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    z-index: 5;
    &.head {
      background-color: cornflowerblue;
    }
    &.tail {
      background-color: orange;
    }
    & p {
      padding-bottom: 0.3rem;
      font-size: 3rem;
      color: $third-color;
    }
  }
}
