$first-color: #394a51;
$second-color: #7fa99b;
$third-color: #fbf2d5;
$fourth-color: #fdc57b;

.gameArea {
  height: 60rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // flex-direction: column;
  & .boardContainer {
    display: flex;
    flex-wrap: wrap;
    height: 40rem;
    width: 40rem;
    border: 3px solid $first-color;
    & > div {
      background-color: $first-color;
    }
    & > div:nth-child(-2n + 8),
    & > div:nth-child(8) ~ div:nth-child(-2n + 15),
    & > div:nth-child(16) ~ div:nth-child(-2n + 24),
    & > div:nth-child(24) ~ div:nth-child(-2n + 31),
    & > div:nth-child(32) ~ div:nth-child(-2n + 40),
    & > div:nth-child(40) ~ div:nth-child(-2n + 47),
    & > div:nth-child(48) ~ div:nth-child(-2n + 56),
    & > div:nth-child(56) ~ div:nth-child(-2n + 63) {
      background-color: $third-color;
    }
  }
}
