$first-color: #394a51;
$second-color: #7fa99b;
$third-color: #fbf2d5;
$fourth-color: #fdc57b;

.container {
  & select {
    width: 18rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $second-color;
    border: 0.5rem solid $first-color;
    font-size: 2rem;
    &:focus {
      box-shadow: 0 0 10px 0 $second-color;
    }
  }
}
